body {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    background-color:white;
    width: 10%;  
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fca311;
    position: fixe;
}

li:hover {
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-color: #14213D;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e5e5e5;
    color: black;
    text-align: center;
}

li a:hover {
    background-color: #111;
}

.container {
    width: 50%;
}

#jobsearch {
    background-color: white;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#unisearch
 {
    background-color: white;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 25%;
    position:absolute;  
    left:0;
    right:0;
    margin:auto;
}